<div class="container border border-dark rounded-3 text-dark">
  <div class="col">
    <select class="w-100 p-2 border border-dark rounded-3 bg-info">
      <option value="option1">Fetch This Week Top 200</option>
      <option value="option2">Fetch Last Week Top 200</option>
    </select>
    <div class="d-flex flex-column mt-3">
      <div class="p-2 border border-dark rounded-3 mb-2 bg-warning">Flex item 1</div>
      <div class="p-2 border border-dark rounded-3 mb-2 bg-warning">Flex item 2</div>
      <div class="p-2 border border-dark rounded-3 mb-2 bg-warning">Flex item 3</div>
    </div>
  </div>
</div>